<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drz.main">

    <application>
        <activity android:name="com.drz.main.ui.SplashActivity"
            android:theme="@style/mvvm_main_AppTheme.Start"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.GuideActivity"/>
    </application>

</manifest>